An aspirational plan for our week, see the <a href="{{site.ether_pad}}">etherpad</a> for adjustments as we go.
<div class="row">
  <table>
    <tr>
      <td>Pre-workshop</td>
      <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th> Time</th>
      <th> Monday </th>
      <th> Tuesday </th>
      <th> Wednesday </th>
      <th> Thursday </th>
      <th> Friday </th>
    </tr>
    <tr>
      <td> 09:00 - 10:00 </td>
      <td><a href="{{page.root}}{% link _episodes/Setup.md %}">Setup</a>,
        <a href="{{page.root}}{% link _episodes/BestPracticesInComputing.md %}">Best Practice</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/VersionControl.md %}">Version control</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/Testing.md %}">Testing</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/BenchmarkingAndProfiling.md %}">Benchmarking</a></td>
      <td><a href="{{page.root}}{% link _episodes/SQLinPython.md %}">SQL</a></td>
    </tr>
    <tr>
      <td> 10:00 - 10:30 </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
    </tr>
    <tr>
      <td> 10:30 - 11:20 </td>
      <td><a href="{{page.root}}{% link _episodes/BestPracticesInComputing.md %}">Best Practice</a>,
        <a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Structure</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/GitHub.md %}">GitHub</a>
      </td>
      <td> <a href="{{page.root}}{% link _episodes/GitHubActions.md %}">GitHub Actions</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/BenchmarkingAndProfiling.md %}">Benchmarking</a></td>
      <td><a href="{{page.root}}{% link _episodes/SQLinPython.md %}">SQL</a></td>
    </tr>
    <tr>
      <td> 11:20 - 11:30 </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
    </tr>
    <tr>
      <td> 11:30 - 12:30 </td>
      <td><a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Structure</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/GitBranching.md %}">Branching</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/GitHubActions.md %}">GitHub Actions</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/Optimization.md %}">Optimization</a></td>
      <td><a href="{{page.root}}{% link _episodes/Pandas.md %}">Pandas</a></td>
    </tr>
    <tr>
      <td> 12:30 - 13:30 </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
    </tr>
    <tr>
      <td> 13:30 - 14:20</td>
      <td><a href="{{page.root}}{% link _episodes/CodingStyle.md %}">Coding Style</a></td>
      <td><a href="{{page.root}}{% link _episodes/GitWorkflows.md %}">Workflows</a>
      </td>
      <td><a href="{{page.root}}{% link _episodes/Documentation.md %}">Documentation</a></td>
      <td><a href="{{page.root}}{% link _episodes/Optimization.md %}">Optimization</a></td>
      <td><a href="{{page.root}}{% link _episodes/Pandas.md %}">Pandas</a></td>
    </tr>
    <tr>
      <td> 14:20 - 14:30 </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
      <td> Short Break </td>
    </tr>
    <tr>
      <td> 14:30 - 15:30</td>
      <td><a href="{{page.root}}{% link _episodes/PythonPackages.md %}">Python packages</a></td>
      <td><a href="{{page.root}}{% link _episodes/PullRequestsCodeReview.md %}">Pull requests and code review</a></td>
      <td><a href="{{page.root}}{% link _episodes/Debugging.md %}">Debugging</a></td>
      <td><a href="{{page.root}}{% link _episodes/ParallelComputing.md %}">ParallelComputing</a></td>
      <td> Group project work</td>
    </tr>
    <tr>
      <td> 15:30 - 16:00 </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
    </tr>
    <tr>
      <td> 16:00 - 17:00 </td>
      <td> <a href="{{page.root}}{% link _episodes/GroupProject.md %}">Group project setup</a></td>
      <td> Group project work</td>
      <td> Group project work</td>
      <td> Group project work</td>
      <td> Group project demonstrations</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Post-workshop</td>
      <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
    </tr>
  </table>
</div>
