<div class="row">
  <table>
    <tr>
      <td>Pre-workshop</td>
      <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th> Time</th>
      <th> Monday </th>
      <th> Tuesday </th>
      <th> Wednesday </th>
      <th> Thursday </th>
      <th> Friday </th>
    </tr>
    <tr>
      <td> 09:00 - 10:30 </td>
      <td><a href="{{page.root}}{% link _episodes/Setup.md %}">Introduction and Setup</a></td>
      <td><a href="{{page.root}}{% link _episodes/Setup.md %}">Version control, Git, and Github</a></td>
      <td><a href="{{page.root}}{% link _episodes/Setup.md %}">?</a></td>
      <td><a href="{{page.root}}{% link _episodes/Setup.md %}">Benchmarking</a></td>
      <td><a href="{{page.root}}{% link _episodes/Setup.md %}">SQL in Python</a></td>
    </tr>
    <tr>
      <td> 10:30 - 11:00 </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
    </tr>
    <tr>
      <td> 11:00 - 12:30 </td>
      <td><a href="{{page.root}}{% link _episodes/ProofOfConcept.md %}">Project planning and structure</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProofOfConcept.md %}">Testing, Pytest, and GitHub actions</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProofOfConcept.md %}">Documentation</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProofOfConcept.md %}">Profiling</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProofOfConcept.md %}">Pandas</a></td>
    </tr>
    <tr>
      <td> 12:30 - 13:30 </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
      <td> Lunch Break </td>
    </tr>
    <tr>
      <td> 13:30 - 15:00</td>
      <td><a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Python packages</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Git Workflows, pull requests, and code
          review</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Debugging</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Optimization</a></td>
      <td><a href="{{page.root}}{% link _episodes/ProjectStructure.md %}">Parallelization</a></td>
    </tr>
    <tr>
      <td> 15:00 - 15:30 </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
      <td> Tea Break </td>
    </tr>
    <tr>
      <td> 15:30 - 17:00 </td>
      <td> <a href="{{page.root}}{% link _episodes/VersionControl.md %}">Group project setup</a></td>
      <td> <a href="{{page.root}}{% link _episodes/VersionControl.md %}">Group project work</a></td>
      <td> <a href="{{page.root}}{% link _episodes/VersionControl.md %}">Group project work</a></td>
      <td> <a href="{{page.root}}{% link _episodes/VersionControl.md %}">Group project work</a></td>
      <td> <a href="{{page.root}}{% link _episodes/VersionControl.md %}">Group project demonstrations</a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Post-workshop</td>
      <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
    </tr>
  </table>
</div>